:root {
    --main-color: #e54b4b;
    --main-color-dark: #dd2020;
}

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

::selection {
    background-color: #777;
    color: #fff;
}

.section-title {
    text-align: center;
}
.section-title > .title {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
}
.section-title > .title::after {
    content: '';
    display: block;
    width: 100px;
    height: 20px;
    background-image: url(../../img/section-title-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
}
.section-title > .description {
    color: #999;
}

p {
}

p > a {
}